@media (min-width: 1200px)
	.carousel-indicators
		li
			float left
			margin-right 10px !important
	.busqueda-portada
		visibility visible
		position absolute
		top 10%
		right 15%
		border 1px solid white
		color white
		border-radius(2px)
		line-height 15px
		padding 6px
		&:hover
			color white
		.icono-search
			padding 6px 10px 8px 0
			border-right 1px solid white
	.formulario-portada
		background rgba(0,0,0,1)
		width 350px
		min-height 500px
		position absolute
		top 30px
		left 0