@media (min-width: 1200px)
	.toggle
		background #ffcc29
		position fixed
		left 0
		top 50%
		z-index 89
		line-height 12px
		text-align center
		padding 37px 17px
		margin-top -65px
	.icon-menu
		font-size 30px
	.toggle-name
		font-size 15px
		color #222
	.menu
		width 550px !important
		padding 80px 60px 0 100px
		.cerrar
			left 5%
			top 50%
	.menu-hidden
		margin-left -550px
	.carousel-indicators
		left 45% !important
		bottom 30px
		li
			float left
			margin-right 30px !important
	.item
		.fill
			.container 
				height 100%
				.wrap-title
					height 100%	
					position relative
					padding-top 20%
				.link-proyectos
					height 350px
					margin-top -350px
				h2
					font-size 50px
					padding-top 50px
					vertical-align middle
	.destacados
		.title-destacados
			span
				&:after, &:before
					content ''
					width 100px
					height 1px
					background vino-tinto
					position absolute
					top 50%
					right -105px
				&:before
					left -105px
	
	