/*PORTADA*/
.logo
	font-size 20px
	line-height 15px
	.one
		color white
	.two
		color #f1cb3f
		font-size 22px
.toggle
	background #ffcc29
	position fixed
	left 0
	top 0
	z-index 89
	line-height 12px
	text-align center
	padding 20px 7px
	.icon-menu
		font-size 28px
	.toggle-name
		font-size 14px
		color #222
.menu
	height 100%
	background #030304
	padding 70px 20px 0 20px
	position fixed
	transition .5s margin ease
	left 0
	z-index 90
	.cerrar
		position absolute
		left 10px
		top 30px
		font-size 26px
		color #59595b
		margin-top -15px
		background #121417
		border-radius(50%)
		padding 6px
		line-height 0
		span
			transition .5s color ease-in
		&:hover
			span
				color #ccc
.menu-hidden
	margin-left -500px	
.menu-lista
	padding 50px 0 40px 0
	text-align center
	font-size 24px
	li
		border-bottom 1px solid #59595b
		list-style none
		padding 10px 0
		transition .5s all ease-out
		a
			font-family cobert-regular
			color #59595b
			transition .5s all ease-out
		&:hover
			border-color white
			a
				color #f1cb3f
.redes-sociales
	list-style none
	padding 0
	li
		display inline-block
		width 19%
		a
			font-size 35px
			color #59595b
			transition .7s color ease 
			&:hover
				color white
.scrollUp
	display none
.carousel-indicators
	li
		margin-right 10px !important
.item
	.fill
		.container
			.wrap-title
				padding-top 100px
			.wrap-proyectos
				padding-top 50%
			.link-proyectos
				background rgba(0,0,0,0.3)
				padding 30px 10px
				h2
					padding 27px 0
			.caption-proyectos
				color white
				font-family cobert-regular
				font-size 10px !important
				border-bottom 1px solid white
			.btn 
				border 1px solid white
				border-radius(0)
				font-size 15px
				font-family cobert-regular
				&:hover
					color white !important
		h2
			color white !important
			font-family lemon
			
.scroll-down
	width 100%
	over-flow hidden
	position absolute
	bottom 50px
	left 0
	line-height 5px
	text-decoration none
	.btn-scroll
		color #00a651
		font-size 50px
		&:link, &:visited, &:hover
			text-decoration none !important
		&:hover
			font-size 52px
	.scroll-text
		color white
		font-size 18px
.busqueda-portada
	visibility hidden
.buscar
	background #ee1c24
	border-radius 0
.formulario-portada
	display none
	input, select
		border-radius 0 !important
.destacados
	padding 30px 0 70px 0
	background #191a1c
.wrap
	width 80%
	min-height 50px
	overflow hidden
	margin auto
.title-destacados
	padding 30px 0
	span
		font-size 30px
		font-family cobert-regular
		color #4b4b4d
		position relative				
.apartamento
	border 1px solid grey
	margin-bottom 20px
	.img-apartamento
		overflow hidden
		max-height 250px
.tipo-apartamento
	background #ed1b23
	color white
	font-size 19px
	padding 5px 15px
.descripcion
	padding 10px 20px
	color white
	font-family cobert-regular
	line-height 15px
	span
		color #ffcc29
		font-size 19px
		font-family cobert-regular
		position relative
		&:after, &:before
			content ''
			width 45px
			height 1px
			background white
			position absolute
			top 50%
			right -55px
		&:before
			left -55px
	table
		width 100%
		text-align center
		td
			padding 4px 0
.formulario
	background #4b4b4d
	color white
	padding-top 10px
	padding-bottom 10px
	margin-bottom 5px
	.title-formulario
		padding-bottom 10px
		border-bottom 1px solid white
		font-size 18px
	input, select
		border-radius 0
	label
		font-weight normal
.text-pagination
	color white
	font-family cobert-regular
	font-size 16px
	padding 0 0 10px 0
.pagination
	li
		a
			margin-right 5px
			background transparent
			color white
			border-radius(5px !important)
			font-family cobert-regular
			border-color #333
			padding-top 9px
			padding-bottom 9px
			&:hover
				background #4b4b4d
				color white
	.active
		a, span
			background #4b4b4d
			border-color #333
			border-radius(5px !important)
			font-family cobert-regular
			padding-top 9px
			padding-bottom 9px
			margin-right 5px
	.disabled
		a, span
			background #4b4b4d
			border-color #333
			border-radius(5px !important)
			font-family cobert-regular
			padding-top 9px
			padding-bottom 9px
			margin-right 5px
.footer
	background #4b4b4d
	color white
	padding 30px 0 10px 0
	ul
		li
			font-family cobert-regular
			list-style none
			line-height 27px
			&:first-child
				position relative
				font-family telegrafico
				font-size 17px
				line-height 50px
				&:after
					content ''
					width 130px
					height 2px
					position absolute
					bottom 10px
					left 0
					background white
	.copyright
		font-family cobert-regular
		padding 50px 0 0 0
//Inmobiliaria
.inmobiliaria, .beneficios
	padding 90px 0
	color white
	h3
		color white
	h2, h1, p
		font-family cobert-regular
		color white
	p
		text-align justify
	.title
		padding-bottom 40px
		h1
			font-size 60px !important
			line-height 20px
//Beneficios
.item-beneficios
	padding-top 50px
	color black
	h3
		padding 0
		line-height 0
		padding-bottom 15px
	p
		padding-right 20px
		padding-left 20px
.servicios
	color white
	padding 80px 0
	p
		font-size 16px
	& > *
		font-family cobert-regular
	.info
		font-family cobert-regular
.lista-servicios
	text-align right
	margin 50px 0 80px 0
	.wrap-servicios
		background grey
	a
		border 1px solid white
		border-radius(0)
		font-size 16px
		font-family cobert-regular
		&:hover, &.active
			background #615E5D
			color white !important
.items-servicios
	margin-bottom 40px
	li
		font-size 16px
		font-family cobert-regular
		position relative
		list-style none
		&:before
			content ' '
			width 7px
			height 1px
			background white
			position absolute
			left -15px
			top 45%
	li:first-child
		list-style none !important
		color #FFCC29
		margin-bottom 15px
		font-family telegrafico
		font-size 24px
		&:after
			content ' '
			width 300px
			height 1px
			background white
			position absolute
			left 0
			bottom 0
		&:before
			width 0
.documentos
	margin-top 40px
	h4
		color #FFCC29
		font-size 24px
	p
		font-family cobert-regular
	.btn
		font-size 16px
		border 1px solid white
		border-radius(0)
		transition .5s background ease
		&:hover
			background white
			color black !important
.no-margen
	margin-top 0 !important
	
.requisitos
	background grey
	border-radius(5px)
	font-size 14px
	padding-top 30px
	padding-bottom 30px
	line-height 25px
	li
		font-family cobert-regular
	li:first-child
		list-style none
		font-weight bold
.link-avaluos
	background grey
	padding 20px 0
	color white
	span
		font-family lemon	
		padding-right 40px
		font-size 20px
	.btn
		vertical-align top
		font-family cobert-regular	
		background transparent
		border-radius(0)
		padding 5px 30px 
		border 2px solid white !important
		&:hover
			background white
			color black
//Contacto
.contacto
	background #191A1C
	padding 60px 0
	& *
		font-family cobert-regular
		color #848688
	h4
		font-weight bold
		line-height 100px
		font-size 16px
	input, textarea
		border-radius(0)
		font-size 16px
	input
		padding 25px
		text-align center
	.btn-enviar
		padding-top 20px 
		padding-bottom 20px 
		background transparent
		color white
		border 1px solid #ccc !important
		transition .5s all ease
		&:hover
			background white !important
			color #292B2E
	label.checkbox-inline
		margin-right 30px
	input, textarea, checkbox-inline
		background #191A1C !important
.descripcion-proyecto
	color white
	padding 120px 0
	h3
		font-size 39px
		padding-bottom 60px
	p
		font-size 20px
	p, h3
		font-family cobert-regular
.show-proyecto
	color white
	h2, li
		font-family cobert-regular
	h2
		padding 25px 0
	li
		list-style none
		font-size 22px
.plantas
	padding 100px 0
	.titulo-plantas
		color #ffcc29
		padding-bottom 50px
	.foto
		padding 0 9px
		margin 10px 0
		position relative
		cursor pointer
		&:hover
			.show-plano
				width 100%
				.btn
					visibility visible				
	.show-plano
		background rgba(0,0,0,0.3)
		width 0
		height 100%
		position absolute
		top 0
		left 0
		transition .1s all ease
		.btn
			visibility hidden
			width 200px
			height 50px
			border-radius 0
			border 3px solid white
			font-family cobert-regular
			font-size 18px
			position absolute
			top 50%
			left 50%
			padding-top 10px
			margin-top -25px
			margin-left -95px 
.imagen-detalle
	padding 5px !important
	cursor pointer
.oferta-imagen, .direccion-imagen
	color white
	line-height 10px
	font-size 18px
.direccion-imagen
	font-family cobert-regular
	font-size 16px
.descripcion-inmueble
	color white
	font-size 20px
	padding-bottom 7px
	border-bottom 1px solid #ee1c24
	position relative
	&:before
		content ''	
		width 150px
		height 8px
		background #ee1c24
		position absolute
		left 0
		bottom -8px
.detalles, .descripcion-articulo
	margin-top 60px
	color white
.detalles
	border-right 1px solid white
.texto-moneda
	background transparent
	border 0
.lemon
	font-family lemon !important
.precio-detalle
	font-size 20px
.descripcion-articulo
	p
		font-family cobert-regular
.tabla-descripcion
	width 90%
	th, td
		font-family cobert-regular
	th
		padding-left 15px
	tr
		padding-top 20px