@font-face
	font-family: telegrafico
	src: url("../fonts/telegrafico.ttf")
*
	font-family telegrafico
a
	&:link, &:visited, &:hover
		text-decoration none !important
		color white
.carousel-caption
	top 0
.carousel-indicators
	li
		margin-right 10px !important
.scroll-down
	width 100%
	over-flow hidden
	position absolute
	bottom 50px
	left 0
	line-height 5px
	text-decoration none
	.btn-scroll
		color #00a651
		font-size 50px
		&:link, &:visited, &:hover
			text-decoration none !important
		&:hover
			font-size 52px
	.scroll-text
		color white
		font-size 18px
.busqueda-portada
	visibility hidden