@font-face
	font-family: telegrafico
	src: url("../fonts/telegrafico.ttf")
@font-face
	font-family: lemon
	src: url("../fonts/LemonMilk.otf")
@font-face
	font-family: cobert-regular
	src: url("../fonts/Corbert-Regular.otf")
@font-face
	font-family: cobert-italic
	src: url("../fonts/Corbert-Italic.otf")
*
	font-family telegrafico
a
	&:link, &:visited, &:hover
		text-decoration none !important
		color white
.img-responsive
	width 100%
.block-center
	float none
	margin auto
.scrollUp
	position fixed
	bottom 50px
	right 50px
	border-radius(50%)
	padding 4px
	span
		font-size 40px
		color #00a651