@font-face
	font-family: telegrafico
	src: url("../fonts/telegrafico.ttf")
@font-face
	font-family: lemon
	src: url("../fonts/LemonMilk.otf")
@font-face
	font-family: cobert-regular
	src: url("../fonts/Corbert-Regular.otf")
*
	font-family telegrafico
a
	&:link, &:visited, &:hover
		text-decoration none !important
		color white
.img-responsive
	width 100%
.block-center
	float none
	margin auto