vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	{prop} args
border-radius()
	vendor('border-radius', arguments)
box-shadow()
	vendor('box-shadow', arguments)
fuente(pt)
	font-size ((pt*8)/6)px !important