@font-face {
  font-family: telegrafico;
  src: url("../fonts/telegrafico.ttf");
}
@font-face {
  font-family: lemon;
  src: url("../fonts/LemonMilk.otf");
}
@font-face {
  font-family: cobert-regular;
  src: url("../fonts/Corbert-Regular.otf");
}
@font-face {
  font-family: cobert-italic;
  src: url("../fonts/Corbert-Italic.otf");
}
* {
  font-family: telegrafico;
}
a:link,
a:visited,
a:hover {
  text-decoration: none !important;
  color: #fff;
}
.img-responsive {
  width: 100%;
}
.block-center {
  float: none;
  margin: auto;
}
.scrollUp {
  position: fixed;
  bottom: 50px;
  right: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 4px;
}
.scrollUp span {
  font-size: 40px;
  color: #00a651;
}
.none {
  padding: 0 !important;
  margin: 0 !important;
}
.padre {
  display: table;
  height: 200px;
}
.hijo {
  display: table-cell;
  vertical-align: middle;
}
h1,
h2 {
  color: #b71111;
}
.navbar-brand {
  padding: 0;
  height: 100%;
}
.logo {
  font-size: 20px;
  line-height: 15px;
  padding-left: 30px !important;
  over-flow: hidden;
  color: #fff;
  margin-top: 10px;
}
.logo .two {
  font-size: 22px;
}
.toggle {
  background: #ffcc29;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 89;
  line-height: 12px;
  text-align: center;
  padding: 20px 7px;
}
.toggle .icon-menu {
  font-size: 28px;
}
.toggle .toggle-name {
  font-size: 14px;
  color: #222;
}
.menu {
  height: 100%;
  background: #030304;
  padding: 70px 20px 0 20px;
  position: fixed;
  transition: 0.5s margin ease;
  left: 0;
  z-index: 90;
}
.menu .cerrar {
  position: absolute;
  left: 10px;
  top: 30px;
  font-size: 26px;
  color: #59595b;
  margin-top: -15px;
  background: #121417;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 6px;
  line-height: 0;
}
.menu .cerrar span {
  transition: 0.5s color ease-in;
}
.menu .cerrar:hover span {
  color: #ccc;
}
.menu-hidden {
  margin-left: -500px;
}
.menu-lista {
  padding: 50px 0 40px 0;
  text-align: center;
  font-size: 24px;
}
.menu-lista li {
  border-bottom: 1px solid #59595b;
  list-style: none;
  padding: 10px 0;
  transition: 0.5s all ease-out;
}
.menu-lista li a {
  font-family: cobert-regular;
  color: #59595b;
  transition: 0.5s all ease-out;
}
.menu-lista li:hover {
  border-color: #fff;
}
.menu-lista li:hover a {
  color: #f1cb3f;
}
.redes-sociales {
  list-style: none;
}
.redes-sociales li.icono {
  display: inline-block;
  width: 32%;
  margin-top: 5px;
}
.redes-sociales li.icono a {
  font-size: 35px;
  color: #fff;
  transition: 0.7s color ease;
  text-decoration: none;
}
.redes-sociales li.icono a:hover {
  opacity: 0.5;
}
.scrollUp {
  display: none;
}
.carousel-indicators {
  padding-bottom: 50px;
}
.carousel-indicators li {
  margin-right: 10px !important;
}
.item .fill .container .wrap-title {
  padding-top: 100px;
}
.item .fill .container .wrap-title h2 {
  text-shadow: 5px 5px 5px rgba(0,0,0,0.5), -5px -5px 5px rgba(0,0,0,0.1);
}
.item .fill .container .wrap-proyectos {
  padding-top: 40%;
}
.item .fill .container .link-proyectos {
  background: rgba(0,0,0,0.3);
  padding: 30px 10px;
}
.item .fill .container .link-proyectos h2 {
  padding: 27px 0;
}
.item .fill .container .caption-proyectos {
  color: #fff;
  font-family: cobert-regular;
  font-size: 10px !important;
  border-bottom: 1px solid #fff;
}
.item .fill .container .btn {
  border: 1px solid #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 15px;
  font-family: cobert-regular;
}
.item .fill .container .btn:hover {
  color: #fff !important;
}
.item .fill h2 {
  color: #fff !important;
  font-family: lemon;
}
.scroll-down {
  width: 100%;
  over-flow: hidden;
  position: absolute;
  bottom: 90px;
  left: 0;
  line-height: 5px;
  text-decoration: none;
}
.scroll-down .btn-scroll {
  color: #00a651;
  font-size: 50px;
}
.scroll-down .btn-scroll:link,
.scroll-down .btn-scroll:visited,
.scroll-down .btn-scroll:hover {
  text-decoration: none !important;
}
.scroll-down .btn-scroll:hover {
  font-size: 52px;
}
.scroll-down .scroll-text {
  color: #fff;
  font-size: 18px;
}
.busqueda-portada {
  visibility: hidden;
}
.buscar {
  background: #ee1c24;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.formulario-portada {
  visibility: hidden;
}
.formulario-portada input,
.formulario-portada select {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.destacados {
  padding: 30px 0 70px 0;
  background: #fff;
}
.wrap {
  width: 80%;
  min-height: 50px;
  overflow: hidden;
  margin: auto;
}
.title-destacados {
  padding: 30px 0;
}
.title-destacados span {
  font-size: 30px;
  font-family: cobert-regular;
  color: #b71111;
  position: relative;
}
.apartamento {
  margin-bottom: 20px;
  background: #f7f7f7;
  border: 5px solid rgba(228,228,228,0.3);
  transition: border-color 0.5s ease;
}
.apartamento .img-apartamento {
  overflow: hidden;
  position: relative;
}
.apartamento:hover {
  border-color: #ea2a2a;
}
.tipo-apartamento {
  background: #ed1b23;
  color: #fff;
  font-size: 19px;
  padding: 5px 15px;
}
.descripcion {
  padding: 10px 20px;
  color: #333;
  font-family: cobert-regular;
  line-height: 15px;
}
.descripcion span {
  color: #0f9d58;
  font-size: 19px;
  font-family: cobert-regular;
  position: relative;
  font-weight: bold;
}
.descripcion span:after,
.descripcion span:before {
  content: '';
  width: 45px;
  height: 1px;
  background: #0f9d58;
  position: absolute;
  top: 50%;
  right: -50px;
}
.descripcion span:before {
  left: -50px;
}
.descripcion table {
  width: 100%;
  text-align: center;
}
.descripcion table td {
  padding: 4px 0;
  font-family: cobert-regular !important;
}
.formulario {
  background: #f1f1f1;
  border: 1px solid #d5d5d5;
  color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
.formulario .title-formulario {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
}
.formulario input,
.formulario select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.formulario label {
  font-weight: normal;
}
.text-pagination {
  color: #000;
  font-family: cobert-regular;
  font-size: 16px;
  padding: 50px 0 10px 0;
}
.pagination li a {
  margin-right: 5px;
  background: transparent;
  color: #fff;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  font-family: cobert-regular;
  border-color: #333;
  padding-top: 9px;
  padding-bottom: 9px;
}
.pagination li a:hover {
  background: #4b4b4d;
  color: #fff;
}
.pagination .active a,
.pagination .active span {
  background: #4b4b4d;
  border-color: #333;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  font-family: cobert-regular;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-right: 5px;
}
.pagination .disabled a,
.pagination .disabled span {
  background: #4b4b4d;
  border-color: #333;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  font-family: cobert-regular;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-right: 5px;
}
.footer {
  background: #7d7d7d;
  color: #fff;
  padding: 30px 0 10px 0;
}
.footer ul.informacion-footer li {
  font-family: cobert-regular;
  list-style: none;
  line-height: 27px;
}
.footer ul.informacion-footer li:first-child {
  position: relative;
  font-family: telegrafico;
  font-size: 17px;
  line-height: 50px;
}
.footer ul.informacion-footer li:first-child:after {
  content: '';
  width: 130px;
  height: 2px;
  position: absolute;
  bottom: 10px;
  left: 0;
  background: #fff;
}
.footer .copyright {
  font-family: cobert-regular;
  padding: 50px 0 0 0;
}
.inmobiliaria,
.beneficios {
  padding: 90px 0;
  color: #333;
}
.inmobiliaria h3,
.beneficios h3 {
  color: #00b29f;
}
.inmobiliaria h2,
.beneficios h2,
.inmobiliaria h1,
.beneficios h1,
.inmobiliaria p,
.beneficios p {
  font-family: cobert-regular;
}
.inmobiliaria h1,
.beneficios h1,
.inmobiliaria h2,
.beneficios h2 {
  color: #b71111;
}
.inmobiliaria p,
.beneficios p {
  text-align: justify;
}
.inmobiliaria .title,
.beneficios .title {
  padding-bottom: 40px;
}
.inmobiliaria .title h1,
.beneficios .title h1 {
  font-size: 60px !important;
  line-height: 20px;
}
.beneficios {
  background: #f7f7f7;
}
.titulo-beneficios {
  padding-bottom: 60px;
  color: #333;
}
div > .item-beneficios {
  margin-bottom: 20px;
}
.item-beneficios {
  min-height: 340px;
  padding-top: 30px;
  padding-bottom: 20px;
  background: #fff;
  color: #000;
  -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.11);
  -moz-box-shadow: 0 0 7px rgba(0,0,0,0.11);
  box-shadow: 0 0 7px rgba(0,0,0,0.11);
}
.item-beneficios h3 {
  padding: 0;
  line-height: 0;
  padding-bottom: 15px;
}
.item-beneficios p {
  padding-right: 20px;
  padding-left: 20px;
}
.servicios {
  color: #333;
  padding: 80px 0;
}
.servicios p {
  font-size: 16px;
}
.servicios > * {
  font-family: cobert-regular;
}
.servicios .info {
  font-family: cobert-regular;
}
.lista-servicios {
  text-align: right;
  margin: 50px 0 80px 0;
}
.lista-servicios .wrap-servicios {
  background: #00b29f;
}
.lista-servicios a {
  border: 1px solid #00b29f;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 16px;
  font-family: cobert-regular;
  color: #00b29f;
  padding-top: 10px;
  padding-bottom: 10px;
}
.lista-servicios a:hover,
.lista-servicios a.active {
  background: #00b29f;
  color: #fff !important;
}
.items-servicios {
  margin-bottom: 40px;
}
.items-servicios li {
  font-size: 16px;
  font-family: cobert-regular;
  position: relative;
  list-style: none;
}
.items-servicios li:before {
  content: ' ';
  width: 7px;
  height: 1px;
  background: #00b29f;
  position: absolute;
  left: -15px;
  top: 45%;
}
.items-servicios li:first-child {
  list-style: none !important;
  color: #00b29f;
  margin-bottom: 15px;
  font-family: telegrafico;
  font-size: 24px;
}
.items-servicios li:first-child:after {
  content: ' ';
  width: 300px;
  height: 1px;
  background: #00b29f;
  position: absolute;
  left: 0;
  bottom: 0;
}
.items-servicios li:first-child:before {
  width: 0;
}
.tab-content {
  background: #f4f4f4;
  padding-top: 30px;
  padding-bottom: 30px;
}
.documentos {
  margin-top: 40px;
  padding-left: 40px;
}
.documentos h4,
.documentos h3,
.documentos h2,
.documentos h1 {
  color: #00b29f;
}
.documentos p {
  font-family: cobert-regular;
}
.documentos .btn {
  font-size: 16px;
  border: 1px solid #ea2a2a;
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  transition: 0.5s background ease;
  color: #ea2a2a;
}
.documentos .btn:hover {
  background: #ea2a2a;
  color: #fff !important;
}
.no-margen {
  margin-top: 0 !important;
}
.requisitos {
  background: #dedede;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 25px;
}
.requisitos li {
  font-family: cobert-regular;
}
.requisitos li:first-child {
  list-style: none;
  font-weight: bold;
}
.link-avaluos {
  background: #00b29f;
  padding: 20px 0;
  color: #fff;
  font-weight: normal !important;
}
.link-avaluos span {
  font-family: lemon;
  padding-right: 40px;
  font-size: 20px;
}
.link-avaluos .btn {
  vertical-align: top;
  font-family: cobert-regular;
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 5px 30px;
  border: 2px solid #fff !important;
}
.link-avaluos .btn:hover {
  background: #fff;
  color: #000;
}
.contacto {
  background: #fff;
  padding: 60px 0;
}
.contacto * {
  font-family: cobert-regular;
  color: #777;
}
.contacto h4 {
  font-weight: bold;
  line-height: 100px;
  font-size: 16px;
}
.contacto input,
.contacto textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 16px;
  border-color: #777;
}
.contacto input {
  padding: 25px;
  text-align: center;
}
.contacto .btn-enviar {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #00b29f;
  color: #fff;
  border: 1px solid #777 !important;
  transition: 0.5s all ease;
}
.contacto .btn-enviar:hover {
  background: #098 !important;
  color: #fff;
}
.contacto label.checkbox-inline {
  margin-right: 30px;
}
.contacto .form-control,
.contacto checkbox-inline {
  background: #fff;
}
.titulo-verde {
  color: #049f4d !important;
}
.titulo-tinto {
  color: #b71111 !important;
}
.descripcion-proyecto {
  color: #333;
  padding: 120px 0;
  background: #fff;
}
.descripcion-proyecto .title-descripcion {
  color: #b71111;
}
.descripcion-proyecto h3 {
  font-size: 39px;
  padding-bottom: 60px;
}
.descripcion-proyecto p {
  font-size: 20px;
}
.descripcion-proyecto p,
.descripcion-proyecto h3 {
  font-family: cobert-regular;
}
.show-proyecto {
  color: #333;
  background: #f7f7f7;
}
.show-proyecto h2,
.show-proyecto li {
  font-family: cobert-regular;
}
.show-proyecto h2 {
  padding: 25px 0;
}
.show-proyecto li {
  list-style: none;
  font-size: 22px;
}
.plantas {
  padding: 100px 0;
}
.plantas .titulo-plantas {
  color: #ffcc29;
  padding-bottom: 50px;
}
.plantas .foto {
  padding: 0 9px;
  margin: 10px 0;
  position: relative;
  cursor: pointer;
}
.plantas .foto:hover .show-plano {
  width: 100%;
}
.plantas .foto:hover .show-plano .btn {
  visibility: visible;
}
.plantas .foto:hover .show-plano .btn:hover {
  background: #fff;
}
.plantas .show-plano {
  background: rgba(0,0,0,0.3);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.1s all ease;
}
.plantas .show-plano .btn {
  visibility: hidden;
  width: 200px;
  height: 50px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 3px solid #fff;
  font-family: cobert-regular;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 10px;
  margin-top: -25px;
  margin-left: -95px;
}
.imagen-detalle {
  padding: 5px !important;
  cursor: pointer;
}
.show-image {
  -webkit-box-shadow: 0 0 10px rgba(156,154,154,0.5);
  -moz-box-shadow: 0 0 10px rgba(156,154,154,0.5);
  box-shadow: 0 0 10px rgba(156,154,154,0.5);
}
.oferta-imagen,
.direccion-imagen {
  line-height: 10px;
  font-size: 18px;
}
.direccion-imagen {
  font-family: cobert-regular;
  font-size: 16px;
}
.descripcion-inmueble {
  font-size: 20px;
  padding-bottom: 7px;
  border-bottom: 1px solid #ee1c24;
  position: relative;
}
.descripcion-inmueble:before {
  content: '';
  width: 150px;
  height: 8px;
  background: #ee1c24;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.detalles,
.descripcion-articulo {
  margin-top: 60px;
}
.detalles {
  border-right: 1px solid #ea2a2a;
}
.texto-moneda {
  background: transparent;
  border: 0;
}
.lemon {
  font-family: lemon !important;
}
.precio-detalle {
  font-size: 20px;
}
.descripcion-articulo p {
  font-family: cobert-regular;
}
.tabla-descripcion {
  width: 90%;
}
.tabla-descripcion th,
.tabla-descripcion td {
  font-family: cobert-regular;
}
.tabla-descripcion th {
  padding-left: 15px;
}
.tabla-descripcion tr {
  padding-top: 20px;
}
.navbar-new {
  margin: 0;
  background: #fff !important;
  border-color: #e6e6e6;
}
.navbar-new .navbar-nav > li > a {
  padding: 30px 20px;
  font-family: cobert-regular;
  font-size: 14px;
  color: #000;
  transition: all 0.5s ease;
  text-transform: uppercase;
}
.navbar-new .navbar-nav > li > a:hover {
  background: #e0e0e0;
  color: #000;
}
.navbar-new .navbar-nav .active > a {
  background: #e0e0e0;
  color: #000;
}
.navbar-new .navbar-nav .active > a:hover {
  background: #e0e0e0;
  color: #000;
}
.navbar-toggle {
  border: none;
  padding-top: 15px;
}
.navbar-toggle .icon-bar {
  background: #333 !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
  background: #e6e6e6;
  color: #000;
}
.cobert-regular {
  font-family: cobert-regular !important;
}
.verde {
  color: #00b29f;
}
@media (min-width: 1200px) {
  .toggle {
    background: #ffcc29;
    position: fixed;
    left: 0;
    top: 50%;
    z-index: 89;
    line-height: 12px;
    text-align: center;
    padding: 37px 17px;
    margin-top: -65px;
  }
  .icon-menu {
    font-size: 30px;
  }
  .toggle-name {
    font-size: 15px;
    color: #222;
  }
  .menu {
    width: 550px !important;
    padding: 80px 60px 0 100px;
  }
  .menu .cerrar {
    left: 5%;
    top: 50%;
  }
  .menu-hidden {
    margin-left: -550px;
  }
  .carousel-indicators {
    left: 45% !important;
    bottom: 30px;
  }
  .carousel-indicators li {
    float: left;
    margin-right: 30px !important;
  }
  .item .fill .container {
    height: 100%;
  }
  .item .fill .container .wrap-title {
    height: 100%;
    position: relative;
    padding-top: 20%;
  }
  .item .fill .container .link-proyectos {
    height: 350px;
    margin-top: -350px;
  }
  .item .fill .container h2 {
    font-size: 50px;
    padding-top: 50px;
    vertical-align: middle;
  }
  .busqueda-portada {
    visibility: visible;
    position: absolute;
    top: 70px;
    left: 75%;
    border: 1px solid #fff;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 15px;
    padding: 6px;
    cursor: pointer;
  }
  .busqueda-portada:hover {
    color: #fff;
  }
  .busqueda-portada .icono-search {
    padding: 6px 10px 8px 0;
    border-right: 1px solid #fff;
  }
  .formulario-portada {
    visibility: visible !important;
    background: rgba(0,0,0,0.25);
    width: 320px;
    min-height: 500px;
    padding: 50px 20px 30px 20px;
    position: absolute;
    top: 60px;
    left: 75%;
  }
  .destacados .title-destacados span:after,
  .destacados .title-destacados span:before {
    content: '';
    width: 100px;
    height: 1px;
    background: #b71111;
    position: absolute;
    top: 50%;
    right: -105px;
  }
  .destacados .title-destacados span:before {
    left: -105px;
  }
}
@media (min-width: 1650px) {
  .container {
    width: 1170px !important;
  }
  .item .fill .container .wrap-title {
    padding-top: 37%;
  }
  .item .fill .container .wrap-proyectos {
    padding-top: 60%;
  }
  .item .fill h2 {
    font-size: 53.333333333333336px !important;
  }
}
